<div class="view intro jarallax"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg); background-attachment: fixed; height: 50vh;">
  <div class="full-bg-img mask rgba-white-light">
    <div class="container pt-5">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 50vh">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 my-font text-navy display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">About <a
                class="text-white font-bold">Yare</a>
              </h2>



              <a mdbBtn color="" size="lg" rounded="true" class="bg-my-red wow bounce infinite waves-light" mdbWavesEffect
                 data-wow-delay="20s" data-wow-duration="2s" routerLink="/contact">Book A meeting</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center">
      <h2 class="h1 font-bold text-navy my-font my-5">Our Philosiphy</h2>
      <hr>
      <div class="row">
      <div>
          <img  src="../../assets/YARE_WINDOW_PANE_PNG.png" class="img-fluid portrait"  width=”80″ height=”80″ alt="">

        <p align="justify " class="about-text">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
          provident
          rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
          cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
          cumque
          provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
          veritatis
          cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
          cumque
          provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
          veritatis
          cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
          cumque
          provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
          veritatis
          cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
          cumque</p>
          <p align="justify" class="about-text">Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque
              provident
              rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis
              cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro,
              cumque
              provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet,
              veritatis</p>
      </div>
      </div>
      </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="view intro jarallax" style="background-image: none; z-index: 0; min-height: 35rem;">
  <div class="full-bg-img mask rgba-white-light">
    <div class="container flex-center">
      <div class="row">
        <div class="col-md-12 call-to-companies wow fadeIn" style="animation-name: none; visibility: visible;">
          <div class="text-center">
            <h2 class="h1 my-font text-navy display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Visit The<a
              class="font-bold dark-red-text"> Companies</a>
            </h2>


            <a mdbBtn color="" outline="true" rounded='true' size="lg" class="wow fadeInDown waves-effect waves-light text-white bg-my-red"
               mdbWavesEffect data-wow-delay="0.4s" routerLink="/companies">View All Companies</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="view intro jarallax"
     style="background-image: url(assets/Yare-17.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>


<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive my-font text-navy my-5 philosiphy-title">Our Core Values</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error
    amet numquam iure provident voluptate esse quasi,
    veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
          <mdb-icon fas icon="suitcase" size="5x" class="dark-red-text"></mdb-icon>
      </div>
      <h5 class="my-font text-navy h2 mt-4 mb-3">Professionalism</h5>
      <p class="text-uppercase blue-text">

      </p>
      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed
        quia non numquam modi
        tempora eius.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
          <mdb-icon fas icon="certificate" size='5x' class="dark-red-text"></mdb-icon> 
      </div>
      <h5 class="my-font text-navy h2 mt-4 mb-3">Certifications</h5>
      <p class="text-uppercase blue-text">
   
      </p>
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque
        rem laudantium totam
        aperiam.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
          <mdb-icon far icon="eye" size='5x' class="dark-red-text"></mdb-icon>
      </div>
      <h5 class="my-font text-navy h2 mt-4 mb-3">Transparency</h5>
      <p class="text-uppercase blue-text">
        
      </p>
      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit
        anim est fugiat nulla
        id eu laborum.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
          <mdb-icon fas icon="balance-scale" size='5x' class="dark-red-text"></mdb-icon>
      </div>
      <h5 class="my-font text-navy h2 mt-4 mb-3">Integrity</h5>
      <p class="text-uppercase blue-text">
     
      </p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam
        officia voluptates perferendis
        voluptatibus aut.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>


  <!-- FOOTER START -->
  <footer class="page-footer font-small">
    <!-- CONTACT START -->
    <div class="container contact wow fadeIn" data-wow-duration="1s">
      <div class="card text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="pt-5 mt-5 pb-5 pt-5">
                <h1 class="h1-respnsive my-font text-navy">Contact</h1>
                <div class="text-center my-grey">
                  <p>Yare Plaza, 2nd Floor</p>
                  <p>1st Avenue</p>
                  <p>Eastliegh</p>
                </div>
                <p class="text-navy">info@yare.co.ke</p>
                <p class="text-navy">0721-123-123</p>
                <img src="assets/logo/Yare Logo.svg" alt="">
              </div>
            </div>
            <div class="col-md-8 bg-my-light-grey pt-5 pb-5">
              <!-- start -->
              <form class="text-center py-5" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  
                <div class="md-form mt-3">
                  <input type="text" formControlName="contactFormName" id="materialContactFormName"
                    class="form-control" mdbInput>
                  <label for="materialContactFormName">Name</label>
                </div>
  
                <div class="md-form">
                  <input type="email" formControlName="contactFormEmail" id="materialContactFormEmail"
                    class="form-control" mdbInput>
                  <label for="materialContactFormEmail">E-mail</label>
                </div>
  
                <span>Subject</span>
                <div class="row">
                  <div class="col-md-12 mx-auto">
                    <mdb-select formControlName="contactFormSubjects" [options]="optionsSelect"
                      placeholder="Choose your option"></mdb-select>
                  </div>
                </div>
  
                <div class="md-form">
                  <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage"
                    class="form-control md-textarea" mdbInput></textarea>
                  <label for="materialContactFormMessage">Message</label>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mx-auto d-flex justify-content-center">
                    <mdb-checkbox formControlName="contactFormCopy">Send me a copy of this message</mdb-checkbox>
                  </div>
                </div>
  
                <a mdbBtn color="" class="bg-my-red text-white wow fadeIn z-depth-0 my-4 waves-effect" block="true" data-wow-duration="2s" rounded="true" size="lg" role="button" type="submit"
                [disabled]="disabledSubmitButton" mdbWavesEffect>Send</a>
  
              </form>
  
  
            </div>
  
            <!-- end -->
  
          </div>
        </div>
      </div>
    </div>
    <!-- CONTACT END -->
    <!-- Footer -->
  
  
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left  my-dark-navy">
  
  
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer text-center py-3  my-dark-navy">© 2019 Copyright:
      <a href="/"> Yare Centre Ltd</a>
    </div>
    <!-- Copyright -->
  
  
    <!-- Footer -->
  </footer>
  <!-- FOOTER END -->