$navy-blue: #0b2f5f;
$dark-grey: #8d99ae;
$light-grey: #edf2f4;
$red: #ef233c;
$dark-red: #d90429;
$small-screen: 600px !default;

.text-navy {
  color: $navy-blue;
}

// Navbars
.navbar {


  &.scrolling-navbar {
    @media (min-width: $small-screen) {
      .navbar-nav > li {
        color: aliceblue !important;
      }
      &.top-nav-collapse {
        background-color: #edf2f4 !important;
        color: #ffffff !important;
        
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .navbar  {
      background-color: #edf2f4;
  }
}