<p class="text-center text-muted" style="opacity: 0.5;">- CONTACT -</p>
<div class="container text-center justify-center top-contact">

  <h1 class="my-font text-navy display-4">Come Visit Us</h1>
  <div class="row" style="padding: 5rem 0;">
    <div class="col text-center">
      <mdb-icon fas icon="map-pin" class="dark-red-text" size="5x"></mdb-icon>
      <h2 class="my-grey">Address</h2>
      <p class="my-grey">Second text</p>
    </div>
    <div class="col text-center">
        <mdb-icon fas icon="phone" class="dark-red-text" size="5x"></mdb-icon>
      <h2 class="my-grey">Phone</h2>
      <p class="my-grey">Second text</p>
    </div>
    <div class="col text-center">
        <mdb-icon far icon="envelope-open" class="dark-red-text" size="5x"></mdb-icon>
      <h2 class="my-grey">Email</h2>
      <p class="my-grey">Second text</p>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.826417394321!2d36.84753161415825!3d-1.2776286990681403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f16b4fb1b280d%3A0xfe84534e3a33d1ba!2sYare+Plaza!5e0!3m2!1sen!2ske!4v1566544690801!5m2!1sen!2ske"
    width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


  <!-- FOOTER START -->
<footer class="page-footer font-small">
  <!-- CONTACT START -->
  <div class="container contact wow fadeIn" data-wow-duration="1s">
    <div class="card text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="pt-5 mt-5 pb-5 pt-5">
              <h1 class="h1-respnsive my-font text-navy">Contact</h1>
              <div class="text-center my-grey">
                <p>Yare Plaza, 2nd Floor</p>
                <p>1st Avenue</p>
                <p>Eastliegh</p>
              </div>
              <p class="text-navy">info@yare.co.ke</p>
              <p class="text-navy">0721-123-123</p>
              <img src="assets/logo/Yare Logo.svg" alt="">
            </div>
          </div>
          <div class="col-md-8 bg-my-light-grey pt-5 pb-5">
            <!-- start -->
            <form class="text-center py-5" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

              <div class="md-form mt-3">
                <input type="text" formControlName="contactFormName" id="materialContactFormName"
                  class="form-control" mdbInput>
                <label for="materialContactFormName">Name</label>
              </div>

              <div class="md-form">
                <input type="email" formControlName="contactFormEmail" id="materialContactFormEmail"
                  class="form-control" mdbInput>
                <label for="materialContactFormEmail">E-mail</label>
              </div>

              <span>Subject</span>
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <mdb-select formControlName="contactFormSubjects" [options]="optionsSelect"
                    placeholder="Choose your option"></mdb-select>
                </div>
              </div>

              <div class="md-form">
                <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage"
                  class="form-control md-textarea" mdbInput></textarea>
                <label for="materialContactFormMessage">Message</label>
              </div>

              <div class="row">
                <div class="col-md-6 mx-auto d-flex justify-content-center">
                  <mdb-checkbox formControlName="contactFormCopy">Send me a copy of this message</mdb-checkbox>
                </div>
              </div>

              <a mdbBtn color="" class="bg-my-red text-white wow fadeIn z-depth-0 my-4 waves-effect" block="true" data-wow-duration="2s" rounded="true" size="lg" role="button" type="submit"
              [disabled]="disabledSubmitButton" mdbWavesEffect>Send</a>

            </form>


          </div>

          <!-- end -->

        </div>
      </div>
    </div>
  </div>
  <!-- CONTACT END -->
  <!-- Footer -->


  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left  my-dark-navy">



  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer text-center py-3  my-dark-navy">© 2019 Copyright:
    <a href="/"> Yare Centre Ltd</a>
  </div>
  <!-- Copyright -->


  <!-- Footer -->
</footer>
<!-- FOOTER END -->
