<p class="text-center text-muted wow fadeIn" style="opacity: 0.5;">- SERVICES -</p>
<div class="container text-center">
    <h1 class="h1 display-4 p-0 my-font text-navy wow fadeIn" data-wow-duration="=2s">Facilities And Amenities Available</h1>
    <p class="my-grey pl-5 pr-5 w-80 wow fadeIn" data-wow-duration="2s">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
      Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>
    
</div>
  <div class="image-bar mb-5 wow fadeInUp" data-wow-duration="1s">
  

</div>
<div class="container-fluid">
    <h1 class="h3 display-4 pb-5 my-font text-center text-navy wow fadeIn" data-wow-duration="1s">Parking</h1>
  <div class="row extra-padding">
    <div class="d-inline">
      <img src="assets/isometrics/20056.jpg" class="img-fluid float-left wow fadeInLeft" width="500" alt="">
        <p class="my-grey wow fadeInRight">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
            Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>
    </div>
  </div>
  <h1 class="h3 display-4 pb-5 my-font text-center text-navy wow fadeIn" data-wow-duration="1s">Meeting Facilities</h1>
  <div class="row extra-padding">
      <div class="d-inline">
          <img src="assets/isometrics/Asset 1.jpg" class="img-fluid float-right wow fadeInRight" alt="" width="500">
          <p class="my-grey wow fadeInLeft">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
              Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>        </div>
    </div>
    <h1 class="h3 display-4 pb-5 my-font text-center text-navy wow fadeIn" data-wow-duration="1s">Mosque</h1>
    <div class="row extra-padding">
      <div class="d-inline">
        <img src="assets/isometrics/mosque-1.jpg" class="img-fluid float-left wow fadeInLeft" width="500" alt="">
          <p class="my-grey wow fadeInRight">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.
              Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>
      </div>
    </div>
</div>
<!-- FOOTER START -->
<footer class="page-footer font-small">
    <!-- CONTACT START -->
    <div class="container contact wow fadeIn" data-wow-duration="1s">
      <div class="card text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="pt-5 mt-5 pb-5 pt-5">
                <h1 class="h1-respnsive my-font text-navy">Contact</h1>
                <div class="text-center my-grey">
                  <p>Yare Plaza, 2nd Floor</p>
                  <p>1st Avenue</p>
                  <p>Eastliegh</p>
                </div>
                <p class="text-navy">info@yare.co.ke</p>
                <p class="text-navy">0721-123-123</p>
                <img src="assets/logo/Yare Logo.svg" alt="">
              </div>
            </div>
            <div class="col-md-8 bg-my-light-grey pt-5 pb-5">
              <!-- start -->
              <form class="pt-5">
                <h3 class="h2 text-center my-font text-navy">Contact Us For Any Inquiries</h3>
  
                <!-- Grid row -->
                <div class="row">
                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-name" class="form-control" mdbInput>
                      <label for="contact-name" class="">Your name</label>
                    </div>
                  </div>
                  <!-- Grid column -->
  
                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-email" class="form-control" mdbInput>
                      <label for="contact-email" class="">Your email</label>
                    </div>
                  </div>
                  <!-- Grid column -->
  
                </div>
                <!-- Grid row -->
  
                <!-- Grid row -->
                <div class="row">
  
                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="contact-Subject" class="form-control" mdbInput>
                      <label for="contact-Subject" class="">Subject</label>
                    </div>
                  </div>
                  <!-- Grid column -->
  
                </div>
                <!-- Grid row -->
  
                <!-- Grid row -->
                <div class="row">
  
                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form">
                      <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                        mdbInput></textarea>
                      <label for="contact-message">Your message</label>
                    </div>
                  </div>
                  <!-- Grid column -->
  
                </div>
                <!-- Grid row -->
  
              </form>
  
              <div class="text-center text-md-left">
                <a mdbBtn color="" class="bg-my-red" rounded="true" size="lg" href="#" role="button"
                  mdbWavesEffect>Submit</a>
              </div>
  
            </div>
  
            <!-- end -->
  
          </div>
        </div>
      </div>
    </div>
    <!-- CONTACT END -->
    <!-- Footer -->
  
  
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left  my-dark-navy">
  
  
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer text-center py-3  my-dark-navy">© 2019 Copyright:
      <a href="/"> Yare Centre Ltd</a>
    </div>
    <!-- Copyright -->
  
  
    <!-- Footer -->
  </footer>
  <!-- FOOTER END -->