$navy-blue: #0b2f5f;
$dark-grey: #8d99ae;
$light-grey: #edf2f4;
$red: #ef233c;
$dark-red: #d90429;

.rgba-dark-grey {
    background-color: $dark-grey;
}

.rgba-my-red {
    background-color: $dark-red !important;
}