<!-- HEADER START -->
<div class="container header align-middle">
  <h1 class="display-3 text-navy wow fadeIn" data-wow-duration="5s" data-wow-delay="0.4s">An Amazing Shopping
    Experience And Much More</h1>
  <p class="my-grey f4 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="5s">This is a simple hero unit, a
    simple jumbotron-style component for
    calling extra attention
    to
    featured content or information.</p>
  <a mdbBtn color="" class="bg-my-red text-white wow shake infinite" data-wow-delay="30s" data-wow-duration="2.5s"
    rounded="true" size="lg" href="#" role="button" mdbWavesEffect routerLink="/companies">FIND OUT MORE</a>
</div>
<!-- full width carousel start -->
<div class="wow fadeIn" data-wow-delay="1s">
  <mdb-carousel class="carousel slide carousel-fade" [isControls]="false" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view move animate-left">
        <img class="d-block img-fluid" src="assets/Yare-17.jpg" alt="Second slide">
        <div class="mask rgba-blue-grey-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view move animate-left">
        <img class="d-block img-fluid" src="assets/Yare-42.jpg" alt="Second slide">
        <div class="mask rgba-blue-grey-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view  move animate-left">
        <img class="d-block img-fluid" src="assets/Yare-8.jpg" alt="Second slide">
        <div class="mask rgba-blue-grey-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <!-- full width carousel end -->


</div>
<!-- HEADER END -->

<!-- CALL TO SERVICES START -->
<div class="container call-to-service">
  <div class="row py-5">
    <div class="col-md-6">
      <img src="assets/Yare-36-CUT.png" alt="" class="wow fadeInLeft img-fluid" data-wow-duration="1s">
    </div>
    <div class="col-md-6 sub-text">
      <h1 class="text-navy display-4 wow fadeInRight my-font" data-wow-duration="2s">A variety Of Conveniences Available
        For You</h1>
      <p class="my-grey f4 fw3 w-90 wow fadeIn" data-wow-duration="3s">The quick, brown fox jumps over a lazy dog. DJs
        flock by when MTV ax quiz prog.
        Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>
      <a mdbBtn color="" class="bg-my-red text-white wow fadeIn" rounded="true" size="lg" role="button" mdbWavesEffect
        data-wow-duration="3s" routerLink="/services">Services</a>
    </div>
  </div>
</div>
<!-- CALL TO SERVICES END -->

<!-- COMPANIES LIST CAROUSEL START -->
<div class="container-fluid bg-my-light-grey text-center pt-5 pb-5 companies">
  <h2 class="display-4 my-font text-navy wow fadeInDown" data-wow-duration="1s">Companies</h2>
  <p class="my-grey f4 fw3 phone_pad pl6 pr6 wow fadeIn" data-wow-duration="1s">The quick, brown fox jumps over a lazy
    dog. DJs flock by when MTV ax quiz
    prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>
  <div class="container">
    <div class="card-deck wow fadeInUp" data-wow-duration="1s">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top" src="https://picsum.photos/id/1026/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">One</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/1027/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">Two</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/1028/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">Three</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/1029/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">four</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/103/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">Five</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/1031/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">Six</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/1032/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">Seven</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card text-left">
                <img class="card-img-top img-fluid" src="https://picsum.photos/id/1033/500/500" alt="">
                <div class="card-body">
                  <h4 class="card-title">Eight</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
      </div>
    </div>


    <div class="my-2 wow fadeIn" data-wow-duration="2s">
      <a mdbBtn color="" class="bg-my-red" rounded="true" size="lg" routerLink="/companies" role="button"
        mdbWavesEffect>View All
        Companies</a>
    </div>

  </div>
</div>
<!-- COMPANIES LIST CAROUSEL END -->

<!-- CALL TO ABOUT START -->
<div class="container call-to-about">
  <div class="row py-5">
    <div class="col-md-8">
      <h1 class="text-navy display-4 my-font wow fadeInLeft" data-wow-duration="2s">Long Standing Quality Of Service
      </h1>
      <p class="my-grey f4 fw3 w-90 wow fadeIn" data-wow-duration="2s">The quick, brown fox jumps over a lazy dog. DJs
        flock by when MTV ax quiz prog.Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex</p>
      <a mdbBtn color="" class="bg-my-red wow fadeIn" data-wow-duration="2s" rounded="true" size="lg"
        routerLink="/about" role="button" mdbWavesEffect>About Us</a>
    </div>
    <div class="col-md-4">

      <div class="row">
        <img class="img-fluid img-placer-two wow fadeInRight" data-wow-duration="2s"
          src="assets/YARE_WINDOW_PANE_PNG.png" alt="" width="300">
      </div>
      <div class="row">
        <img class="img-fluid img-placer-one wow fadeInUp" src="assets/Yare-8.jpg" alt="" width="700">
      </div>

    </div>
  </div>

</div>
<!-- CALL TO ABOUT END -->


<!-- FOOTER START -->
<footer class="page-footer font-small">
  <!-- CONTACT START -->
  <div class="container contact wow fadeIn" data-wow-duration="1s">
    <div class="card text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="pt-5 mt-5 pb-5 pt-5">
              <h1 class="h1-respnsive my-font text-navy">Contact</h1>
              <div class="text-center my-grey">
                <p>Yare Plaza, 2nd Floor</p>
                <p>1st Avenue</p>
                <p>Eastliegh</p>
              </div>
              <p class="text-navy">info@yare.co.ke</p>
              <p class="text-navy">0721-123-123</p>
              <img src="assets/logo/Yare Logo.svg" alt="">
            </div>
          </div>
          <div class="col-md-8 bg-my-light-grey pt-5 pb-5">
            <!-- start -->
            <form class="pt-5">
              <h3 class="h2 text-center my-font text-navy">Contact Us For Any Inquiries</h3>

              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="contact-name" class="form-control" mdbInput>
                    <label for="contact-name" class="">Your name</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="contact-email" class="form-control" mdbInput>
                    <label for="contact-email" class="">Your email</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input type="text" id="contact-Subject" class="form-control" mdbInput>
                    <label for="contact-Subject" class="">Subject</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"
                      mdbInput></textarea>
                    <label for="contact-message">Your message</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </form>

            <div class="text-center text-md-left">
              <a mdbBtn color="" class="bg-my-red" rounded="true" size="lg" href="#" role="button"
                mdbWavesEffect>Submit</a>
            </div>

          </div>

          <!-- end -->

        </div>
      </div>
    </div>
  </div>
  <!-- CONTACT END -->
  <!-- Footer -->


  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left  my-dark-navy">



  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer text-center py-3  my-dark-navy">© 2019 Copyright:
    <a href="/"> Yare Centre Ltd</a>
  </div>
  <!-- Copyright -->


  <!-- Footer -->
</footer>
<!-- FOOTER END -->
