<p class="text-center text-muted wow fadeIn" style="opacity: 0.5;">- COMPANIES -</p>
<h1 class="h1 display-4 p-0 my-font text-navy text-center wow fadeIn" data-wow-duration="1s">A Range Of Merchants Available</h1>
<div class="container py-5">
    <div class="row">
        <div class="col-sm-4">
          <a routerLink="furniture">
            <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                <div class="view overlay">
                    <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                    <div class="mask flex-center rgba-red-strong">
                        <p class="font-weight-bold white-text">FURNITURE</p>
                    </div>
                </div>
              </div>
            </a>
        </div>
        <div class="col-sm-4">
                <a routerLink="finance">
            <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                <div class="view overlay">
                    <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                    <div class="mask flex-center rgba-red-strong">
                        <p class="font-weight-bold white-text">FINANCE</p>
                    </div>
                </div>
              </div>
              </a>
        </div>
        <div class="col-sm-4">
                <a routerLink="fashion">
            <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                <div class="view overlay">
                    <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                    <div class="mask flex-center rgba-red-strong">
                        <p class="font-weight-bold white-text">FASHION</p>
                    </div>
                </div>
              </div>
              </a>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-4">
                <a routerLink="travel">
              <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                  <div class="view overlay">
                      <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                      <div class="mask flex-center rgba-red-strong">
                          <p class="font-weight-bold white-text">TRAVEL</p>
                      </div>
                  </div>
                </div>
                </a>
          </div>
          <div class="col-sm-4">
                <a routerLink="medical">
              <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                  <div class="view overlay">
                      <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                      <div class="mask flex-center rgba-red-strong">
                          <p class="font-weight-bold white-text">MEDICAL</p>
                      </div>
                  </div>
                </div>
                </a>
          </div>
          <div class="col-sm-4">
                <a routerLink="wholesale">
              <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                  <div class="view overlay">
                      <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                      <div class="mask flex-center rgba-red-strong">
                          <p class="font-weight-bold white-text">WHOLESALE</p>
                      </div>
                  </div>
                </div>
                </a>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                    <a routerLink="hotel">
                <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                    <div class="view overlay">
                        <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                        <div class="mask flex-center rgba-red-strong">
                            <p class="font-weight-bold white-text">HOTEL</p>
                        </div>
                    </div>
                  </div>
                  </a>
            </div>
            <div class="col-sm-4">
                    <a routerLink="food">
                <div class="card bg-dark text-white wow fadeIn" data-wow-duration="2s">
                    <div class="view overlay">
                        <img src="https://picsum.photos/500/350" class="img-fluid " alt="smaple image">
                        <div class="mask flex-center rgba-red-strong">
                            <p class="font-weight-bold white-text">FOOD</p>
                        </div>
                    </div>
                  </div>
                  </a>
            </div>
            <!-- <div class="col-sm-4">
                <div class="card bg-dark text-white">
                    <div class="view overlay">
                        <img src="https://picsum.photos/500/500" class="img-fluid " alt="smaple image">
                        <div class="mask flex-center rgba-red-strong">
                            <p class="white-text">Strong overlay</p>
                        </div>
                    </div>
                  </div>
            </div> -->
          </div>
</div>

